
@{
    Layout = null;
    var CurrentSession = ViewData["CurrentSession"] as ServiceSiteForTheElderly.Models.ViewModels.SessionModel;
}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/contact.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
</head>


<body>
    <input type="hidden" id="NavigatorPrev" value="@Url.Action("Contact", "Home")" />

    <div class="container">
        <header>
            <h1><a href="@Url.Action("Index", "Home")">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <div class="header-buttons">
                <div class="shopping-cart">
                    <span class="shopping-count-badge @ViewData["HeaderBadgeStatus"]">@ViewData["HeaderBadge"]</span>
                    <a href="@Url.Action("ShoppingCart", "Home")" class="shopping-cart-button"><i class="fas fa-shopping-cart"></i>買い物カゴを見る</a>
                </div>
                <a href="@ViewData["HeaderButtonLink"]" class="avatar-button"><i class="fa-solid fa-user"></i>@ViewData["HeaderButtonText"]</a>
            </div>
        </header>


        <div class="breadcrumb-list">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="@Url.Action("Contact", "Home")">お問い合わせ入力</a></li>
                <li><a href="#">お問い合わせ確認</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>お問い合わせ送信確認</h2>
            <div class="no-item-message">
                <p>以下の内容で送信しますか?</p>
            </div>

            <div class="contact-table">
                <form>
                    <table border="1">
                        <tbody>
                            <tr>
                                <th>お名前</th>
                                <td>@CurrentSession.customerUserInfo.Name</td>
                            </tr>
                            <tr>
                                <th>ふりがな</th>
                                <td>@CurrentSession.customerUserInfo.Furigana</td>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <td>@CurrentSession.customerUserInfo.Tel</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>@CurrentSession.customerUserInfo.Mail</td>
                            </tr>
                            <tr>
                                <th>本文</th>
                                <td>@CurrentSession.message</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-field">
                        <button class="form-normal-button prev-arrow-button" type="button" id="back-button">入力画面に戻る</button>
                        <button class="form-primary-button next-arrow-button" type="submit" id="submit">送信</button>
                    </div>

                </form>
            </div>

        </div>


        <footer>

            <div class="footer-logo">
                HAISABU Platform
            </div>

            <!-- <div class="ads">
                広告
            </div> -->

        </footer>
    </div>

    <script>
        $(function () {
            $("#back-button").click(function () {
                location.href = $("#NavigatorPrev").val();
            });

        });
    </script>
</body>

</html>