@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div class="container">
        <header>
            <h1><a href="./index.html">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <a href="./shopping-cart.html" class="shopping-cart-button"><i class="fas fa-shopping-cart"></i>カゴ</a>
        </header>

        <div class="banner">
            <img src="@Url.Content("~/img/top_img.png")" alt="高齢者が不自由せず楽しい生活を送れるように手助けしたい。当ページは高齢の方向けの、インターネットを活用したサービスを提供するサイトです。">
        </div>

        <div class="breadcrumb-list">
            <ul>
                <li><a href="./index.html">HOME</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>サービスを探す</h2>

            <div class="service-table">
                <div class="delivery-service">
                    <h3>宅配配送サービス</h3>
                    <div class="buttons">
                        @Html.Raw(ViewData["categories"])
                        </div>
                </div>
                <div class="other-service">
                    <h3>その他のサービス</h3>
                    <div class="buttons">
                        @Html.Raw(ViewData["contacts"])
                    </div>
                </div>
            </div>
        </div>


        <footer>

            <div class="footer-logo">
                HAISABU Platform
            </div>

            <div class="ads">
                <a href="#">広告1</a>
                <a href="#">広告2</a>
                <a href="#">広告3</a>
                <a href="#">広告4</a>
            </div>

        </footer>
    </div>

</body>

</html>