
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/obento.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
</head>

<body>
    <div class="container">
        <header>
            <h1><a href="@Url.Action("Index", "Home")">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <div class="header-buttons">
                <div class="shopping-cart">
                    <span class="shopping-count-badge">3</span>
                    <a href="@Url.Action("ShoppingCart", "Home")" class="shopping-cart-button"><i class="fas fa-shopping-cart"></i>買い物カゴを見る</a>
                </div>
                <a href="@ViewData["HeaderButtonLink"]" class="avatar-button"><i class="fa-solid fa-user"></i>@ViewData["HeaderButtonText"]</a>
            </div>
        </header>


        <div class="breadcrumb-list">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="#">@ViewData["categoryName"]</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>@ViewData["categoryName"]の宅配サービス</h2>

            <div id="order">
                <form action="">
                    <h3>@ViewData["categoryName"]購入の申込</h3>
                    <div class="input-container">
                        <div class="input-field">
                            <label for="name">お名前</label>
                            <input type="text" name="name" placeholder="砥部 花子">
                        </div>
                        <div class="input-field">
                            <label for="phone-number">電話番号</label>
                            <input type="text" name="phone-number" placeholder="089-982-0001"
                                   pattern="\d{2,4}-?\d{2,4}-?\d{3,4}">
                        </div>
                        <div class="input-field grow-field">
                            <label for="name">商品名</label>
                            <input type="text" name="name" placeholder="取り寄せる商品名">
                        </div>
                        <div class="message grow-field">
                            申込み後、担当者より連絡いたします
                        </div>
                        <div class="button-field grow-field" id="order-button">
                            <button class="form-primary-button" type="submit">申込</button>
                        </div>
                    </div>

                </form>
            </div>

            <div id="search">
                <form action="">
                    <input type="search" name="q" placeholder="商品検索">
                    <div class="button-field">
                        <button class="form-primary-button" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="shopping-table">
                @Html.Raw(ViewData["goods"])
            </div>
        </div>




        <footer>

            <div class="footer-logo">
                HAISABU Platform
            </div>

            <!-- <div class="ads">
                広告
            </div> -->

        </footer>
    </div>

    <script>
        const orderButton = document.getElementById("order-button");
        orderButton.addEventListener('click', (e) => {
            e.preventDefault();
            const answer = confirm('この商品を取り寄せますか?');
            if (answer) {
                location.href = "./order-complete.html";
            }
        });

        $(function () {
            $(".goods").each(function (index, element) {
                const goodsId = parseInt($(element).attr("id").replace("goods-", ""));
                // console.log(goodsId);

                $(element).on("submit", function (event) {
                    event.preventDefault();
                    const data = $(element).serializeArray();
                    console.log(data);
                    /*
                    const tel = $("#phone-number").val().trim();
                    const password = $("#password").val().trim();
                    const inputData = {
                        Tel: tel,
                        Password: password
                    };

                    const postUrl = $("#UrlActionLogin").val();
                    const nextUrl = $("#NavigatorNext").val();
                    postfuncajax(postUrl, nextUrl, inputData);
                    */
                });

            });

        });
    </script>

</body>

</html>