
@{
    Layout = null;
    int? index = ViewData["index"] as int?;
    var CurrentSession = ViewData["CurrentSession"] as ServiceSiteForTheElderly.Models.ViewModels.SessionModel;

    var password = "";
    if (CurrentSession != null)
    {
        password = new string(Enumerable.Repeat('*', CurrentSession.customerUserInfo.Password.Length).ToArray());
    }

}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/my-page.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
</head>


<body>
    <input type="hidden" id="UrlActionOrderDetail" value="@Url.Action("OrderDetail", "Home")" />
    <input type="hidden" id="UrlActionBackOrderDetail" value="@Url.Action("BackOrderDetail", "Home")" />
    <input type="hidden" id="UrlActionContactDetail" value="@Url.Action("ContactDetail", "Home")" />
    <input type="hidden" id="UrlActionId" value="@ServiceSiteForTheElderly.Models.ViewModels.MyPage.UrlActionId(index)" />

    <input type="hidden" id="UrlActionUpdateCustomerInfo" value="@Url.Action("UpdateCustomerInfo", "Home")" />
    <input type="hidden" id="UrlActionResign" value="@Url.Action("Resign", "Home")" />

    <div class="container">
        <header>
            <h1><a href="@Url.Action("Index", "Home")">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <div class="header-buttons">
                <div class="shopping-cart">
                    <span class="shopping-count-badge @ViewData["HeaderBadgeStatus"]">@ViewData["HeaderBadge"]</span>
                    <a href="@Url.Action("ShoppingCart", "Home")" class="shopping-cart-button"><i class="fas fa-shopping-cart"></i>買い物カゴを見る</a>
                </div>
                <a href="@ViewData["HeaderButtonLink"]" class="avatar-button"><i class="fa-solid fa-user"></i>@ViewData["HeaderButtonText"]</a>
            </div>
        </header>


        <div class="breadcrumb-list">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="#">マイページ</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>マイページ</h2>

            <div class="button-field button-list">
                <a href="@Url.Action("MyPageOrder", "Home")" class="@ServiceSiteForTheElderly.Models.ViewModels.MyPage.AddClassActiveOrNormalButton(0, index)">
                    <i class="fa-solid fa-box"></i>
                    <span>注文履歴</span>
                </a>

                <a href="@Url.Action("MyPageBackorder", "Home")" class="@ServiceSiteForTheElderly.Models.ViewModels.MyPage.AddClassActiveOrNormalButton(1, index)">
                    <i class="fa-solid fa-book-open"></i>
                    <span>書籍取り寄せ履歴</span>
                </a>

                <a href="@Url.Action("MyPageContact", "Home")" class="@ServiceSiteForTheElderly.Models.ViewModels.MyPage.AddClassActiveOrNormalButton(2, index)">
                    <i class="fa-solid fa-comment-dots"></i>
                    <span>問い合わせ履歴</span>
                </a>

                <a href="@Url.Action("MyPageSettings", "Home")" class="@ServiceSiteForTheElderly.Models.ViewModels.MyPage.AddClassActiveOrNormalButton(3, index)">
                    <i class="fa-solid fa-user"></i>
                    <span>お客様情報変更</span>
                </a>

                <a href="@Url.Action("Logout", "Home")" class="normal-button">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>ログアウト</span>
                </a>

            </div>


            @if (index != 3)
            {
                <div class="log-table">
                    <h3>@ViewData["title"]</h3>
                    <table border="1">
                        <tbody>

                            <tr>
                                <th>日時</th>
                                <th>状況</th>
                            </tr>

                            @if (string.IsNullOrEmpty(ViewData["orders"].ToString()))
                            {
                                <tr>
                                    <td colspan="2">履歴なし</td>
                                </tr>
                            }
                            else
                            {
                                @Html.Raw(ViewData["orders"])

                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="log-table">
                    <h3>@ViewData["title"]</h3>
                    <table border="1">
                        <tbody>
                            <tr>
                                <th>氏名</th>
                                <td>@CurrentSession.customerUserInfo.Name</td>
                            </tr>
                            <tr>
                                <th>ふりがな</th>
                                <td>@CurrentSession.customerUserInfo.Furigana</td>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <td>@CurrentSession.customerUserInfo.Tel</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>@CurrentSession.customerUserInfo.Mail</td>
                            </tr>
                            <tr>
                                <th>郵便番号</th>
                                <td>@CurrentSession.customerUserInfo.Postcode</td>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>@CurrentSession.customerUserInfo.Address</td>
                            </tr>
                            <tr>
                                <th>パスワード</th>
                                <td>@password</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-field">
                        <button class="form-normal-button next-arrow-yellow-button" id="UpdateUserInfoButton">情報の変更をする</button>
                    </div>
                </div>

                <div class="log-table">
                    <h3>退会について</h3>
                    <p>退会される方は下記ボタンより退会手続きをお願い致します</p>
                    <p>退会される退会手続きをお読みになって退会ください。</p>
                    <div class="button-field">
                        <button class="form-normal-button next-arrow-yellow-button" id="ResignButton">退会手続きをする</button>
                    </div>
                </div>
            }

        </div>

    </div>
    <script>
        $(function () {
            $('tr[data-href]').addClass('clickable')

                //クリックイベント
                .click(function (e) {
                    //e.targetはクリックした要素自体、それがa要素以外であれば
                    if (!$(e.target).is('a')) {
                        URLJump(e);
                    }
                })
                // フォーカス時のイベント
                .keypress(function (e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (e.keyCode == 13) {
                        URLJump(e);
                    }
                });


            function URLJump(e) {
                //その要素の先祖要素で一番近いtrの
                //data-href属性の値に書かれているURLに遷移する
                const query = $(e.target).closest('tr').data('href');
                const urlActionIdString = $("#UrlActionId").val();
                const url = $("#" + urlActionIdString).val() + "?randomid=" + query;
                location.href = url;
            };

            $("#UpdateUserInfoButton").click(function () {
                location.href = $("#UrlActionUpdateCustomerInfo").val();
            });

            $("#ResignButton").click(function () {
                location.href = $("#UrlActionResign").val();
            });

        });
    </script>

</body>

</html>