
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/shopping-cart.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>

</head>


<body>
    <input type="hidden" id="UrlActionChangeToCart" value="@Url.Action("ChangeToCart", "Home")" />
    <input type="hidden" id="NavigatorNext" value="@Url.Action("ShoppingCart", "Home")" />
    <input type="hidden" id="NavigatorTop" value="@Url.Action("Index", "Home")" />


    <div class="container">
        <header>
            <h1><a href="@Url.Action("Index", "Home")">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <div class="header-buttons">
                <div class="shopping-cart">
                    <span class="shopping-count-badge">@ViewData["HeaderBadge"]</span>
                    <a href="@Url.Action("ShoppingCart", "Home")" class="shopping-cart-button"><i class="fas fa-shopping-cart"></i>買い物カゴを見る</a>
                </div>
                <a href="@ViewData["HeaderButtonLink"]" class="avatar-button"><i class="fa-solid fa-user"></i>@ViewData["HeaderButtonText"]</a>
            </div>
        </header>


        <div class="breadcrumb-list">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="#">買い物カゴ</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>買い物カゴ</h2>

            <div class="cart-table">
                <form id="form">
                    @Html.Raw(ViewData["goodsOfCart"])

                    <div class="total-price">
                        <span>総合計金額 @ViewData["totalPrice"]円</span>
                    </div>

                    <div class="button-field">
                        <button class="form-normal-button prev-arrow-button" type="button" id="continue-shopping-button">買い物を続ける</button>
                        <button class="form-primary-button next-arrow-button" type="submit" id="submit">進む</button>
                    </div>
                </form>
            </div>

        </div>


        <footer>

            <div class="footer-logo">
                HAISABU Platform
            </div>

            <!-- <div class="ads">
                広告
            </div> -->

        </footer>
    </div>


    <script>

        $(function () {
            $("#form").on("submit", function (event) {
                event.preventDefault();
                alert("submit");
            });

            $("#continue-shopping-button").click(function () {
                const nextUrl = $("#NavigatorTop").val();
                location.href = nextUrl;
            });

            $(".trash-icon").click(function () {
                const goodsTemp = $(this).parent().parent().attr("id").replace("goods-", "").split("-");
                const goodsId = goodsTemp[0];
                const goodsVariety = goodsTemp[1];
                const goodsQuantity = 0;

                const inputData = {
                    GoodsId: goodsId,
                    Variety: goodsVariety,
                    Quantity: goodsQuantity
                };

                const postUrl = $("#UrlActionChangeToCart").val();
                const nextUrl = $("#NavigatorNext").val();

                postfuncajax(postUrl, nextUrl, inputData);
            });

            $(".num").change(function () {
                const goodsTemp = $(this).parent().parent().attr("id").replace("goods-", "").split("-");
                const goodsId = goodsTemp[0];
                const goodsVariety = goodsTemp[1] == undefined ? "" : goodsTemp[1];
                const goodsQuantity = parseInt($(this).val());

                const inputData = {
                    GoodsId: goodsId,
                    Variety: goodsVariety,
                    Quantity: goodsQuantity
                };

                const postUrl = $("#UrlActionChangeToCart").val();
                const nextUrl = $("#NavigatorNext").val();

                postfuncajax(postUrl, nextUrl, inputData);
            });


            function postfuncajax(postUrl, nextUrl, inputData) {
                const jsonString = JSON.stringify(inputData);

                $.ajax({
                    url: postUrl,
                    type: "POST",
                    async: false,
                    data: jsonString,
                    dataType: "json",
                    contentType: 'application/json',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var message = XMLHttpRequest.status;
                        alert(message);
                    },
                    success: function (data) {
                        switch (data.status) {
                            case "success":
                                // alert("ログイン成功");
                                location.href = nextUrl;
                                break;
                            case "error":
                            default:
                                alert("エラーが起こりました");
                                break;
                        }

                    }
                });
            }
        });



    </script>
</body>

</html>