
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/shopping-cart.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
    <div class="container">
        <header>
            <h1><a href="@Url.Action("Index", "Home")">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <div class="header-buttons">
                <div class="shopping-cart">
                    <span class="shopping-count-badge">3</span>
                    <a href="@Url.Action("ShoppingCart", "Home")" class="shopping-cart-button"><i class="fas fa-shopping-cart"></i>買い物カゴを見る</a>
                </div>
                <a href="@ViewData["HeaderButtonLink"]" class="avatar-button"><i class="fa-solid fa-user"></i>@ViewData["HeaderButtonText"]</a>
            </div>
        </header>


        <div class="breadcrumb-list">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="#">買い物カゴ</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>買い物カゴ</h2>

            <div class="cart-table">
                <form>
                    <!--
                        <div class="a-shop">
                            <h3>あいうえお店</h3>

                            <div class="cart-table-heading">
                                <ul>
                                    <li class="cart-table-body-list-item">削除</li>
                                    <li class="cart-table-body-list-item">商品内容</li>
                                    <li class="cart-table-body-list-item">数量</li>
                                    <li class="cart-table-body-list-item">小計(税込)</li>
                                </ul>
                            </div>
                            <div class="cart-table-body">
                                <ul>
                                    <li class="cart-table-body-list-item">
                                        <div class="trash-icon"><i class="fas fa-trash-alt"></i></div>
                                    </li>
                                    <li class="cart-table-body-list-item shopping-item-column">
                                        <img src="./img/bento.png" alt="あ弁当">
                                        <div>
                                            <h4>あ弁当</h4>
                                            <p>500円</p>
                                        </div>

                                    </li>
                                    <li class="cart-table-body-list-item">
                                        <select id="num" name="num">
                                            <option value="one">1個</option>
                                            <option value="two">2個</option>
                                            <option value="three">3個</option>
                                            <option value="four">4個</option>
                                            <option value="five">5個</option>
                                            <option value="six">6個</option>
                                            <option value="seven">7個</option>
                                            <option value="eight">8個</option>
                                            <option value="nine">9個</option>
                                            <option value="ten">10個</option>
                                        </select>
                                    </li>
                                    <li class="cart-table-body-list-item ">
                                        500円
                                    </li>
                                </ul>

                                <ul>
                                    <li class="cart-table-body-list-item">
                                        <div class="trash-icon"><i class="fas fa-trash-alt"></i></div>
                                    </li>
                                    <li class="cart-table-body-list-item shopping-item-column">
                                        <img src="./img/bento.png" alt="い弁当">
                                        <div>
                                            <h4>い弁当</h4>
                                            <p>500円</p>
                                        </div>

                                    </li>
                                    <li class="cart-table-body-list-item">
                                        <select id="num" name="num">
                                            <option value="one">1個</option>
                                            <option value="two">2個</option>
                                            <option value="three">3個</option>
                                            <option value="four">4個</option>
                                            <option value="five">5個</option>
                                            <option value="six">6個</option>
                                            <option value="seven">7個</option>
                                            <option value="eight">8個</option>
                                            <option value="nine">9個</option>
                                            <option value="ten">10個</option>
                                        </select>
                                    </li>
                                    <li class="cart-table-body-list-item">
                                        500円
                                    </li>
                                </ul>
                            </div>

                            <div class="cart-table-postage">
                                <span>送料 300円</span>
                            </div>

                            <div class="cart-table-price">
                                <span>合計金額 1300円</span>
                            </div>
                        </div>



                        <div class="a-shop">
                            <h3>かきくけこ店</h3>

                            <div class="cart-table-heading">
                                <ul>
                                    <li class="cart-table-body-list-item">削除</li>
                                    <li class="cart-table-body-list-item">商品内容</li>
                                    <li class="cart-table-body-list-item">数量</li>
                                    <li class="cart-table-body-list-item">小計(税込)</li>
                                </ul>
                            </div>
                            <div class="cart-table-body">
                                <ul>
                                    <li class="cart-table-body-list-item">
                                        <div class="trash-icon"><i class="fas fa-trash-alt"></i></div>
                                    </li>
                                    <li class="cart-table-body-list-item shopping-item-column">
                                        <img src="./img/zasshi.jpg" alt="あ雑誌">
                                        <div>
                                            <h4>あ雑誌</h4>
                                            <p>500円</p>
                                        </div>

                                    </li>
                                    <li class="cart-table-body-list-item">
                                        <select id="num" name="num">
                                            <option value="one">1個</option>
                                            <option value="two">2個</option>
                                            <option value="three">3個</option>
                                            <option value="four">4個</option>
                                            <option value="five">5個</option>
                                            <option value="six">6個</option>
                                            <option value="seven">7個</option>
                                            <option value="eight">8個</option>
                                            <option value="nine">9個</option>
                                            <option value="ten">10個</option>
                                        </select>
                                    </li>
                                    <li class="cart-table-body-list-item">
                                        500円
                                    </li>
                                </ul>
                            </div>

                            <div class="cart-table-postage">
                                <span>送料 300円</span>
                            </div>

                            <div class="cart-table-price">
                                <span>合計金額 800円</span>
                            </div>
                        </div>


                        <div class="a-shop">
                            <h3>さしすせそ店</h3>

                            <div class="cart-table-heading">
                                <ul>
                                    <li class="cart-table-body-list-item">削除</li>
                                    <li class="cart-table-body-list-item">商品内容</li>
                                    <li class="cart-table-body-list-item">数量</li>
                                    <li class="cart-table-body-list-item">小計(税込)</li>
                                </ul>
                            </div>
                            <div class="cart-table-body">
                                <ul>
                                    <li class="cart-table-body-list-item">
                                        <div class="trash-icon"><i class="fas fa-trash-alt"></i></div>
                                    </li>
                                    <li class="cart-table-body-list-item shopping-item-column">
                                        <img src="./img/tokusanhin.jpg" alt="さ特産品">
                                        <div>
                                            <h4>さ特産品</h4>
                                            <p>650円</p>
                                        </div>

                                    </li>
                                    <li class="cart-table-body-list-item">
                                        <select id="num" name="num">
                                            <option value="one">1個</option>
                                            <option value="two">2個</option>
                                            <option value="three">3個</option>
                                            <option value="four">4個</option>
                                            <option value="five">5個</option>
                                            <option value="six">6個</option>
                                            <option value="seven">7個</option>
                                            <option value="eight">8個</option>
                                            <option value="nine">9個</option>
                                            <option value="ten">10個</option>
                                        </select>
                                    </li>
                                    <li class="cart-table-body-list-item">
                                        650円
                                    </li>
                                </ul>
                            </div>

                            <div class="cart-table-postage">
                                <span>配送地域により送料が変わります</span>
                            </div>

                            <div class="cart-table-price">
                                <span>合計金額 650円以上</span>
                            </div>
                        </div>
                    -->

                    <div class="total-price">
                        <span>総合計金額 2750円以上</span>
                    </div>

                    <div class="button-field">
                        <button class="form-normal-button prev-arrow-button" type="button" onclick="location.href='./index.html'">買い物を続ける</button>
                        <button class="form-primary-button next-arrow-button" type="submit" id="submit">進む</button>
                    </div>
                </form>
            </div>

        </div>


        <footer>

            <div class="footer-logo">
                HAISABU Platform
            </div>

            <!-- <div class="ads">
                広告
            </div> -->

        </footer>
    </div>


    <script>
        const submitBtn = document.getElementById('submit');
        submitBtn.addEventListener('click', (e) => {
            e.preventDefault();
            location.href='./shopping-customer-info.html';
        });
    </script>
</body>

</html>