
@{
    Layout = null;
    var CurrentSession = ViewData["CurrentSession"] as ServiceSiteForTheElderly.Models.ViewModels.SessionModel;
}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/contact.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/shopping-cart.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/shopping-confirm.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>
</head>


<body>
    <input type="hidden" id="NavigatorPrev" value="@Url.Action("EnterShippingAddress", "Home")" />
    <div class="container">
        <header>
            <h1><a href="@Url.Action("Index", "Home")">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <div class="header-buttons">
                <div class="shopping-cart">
                    <span class="shopping-count-badge @ViewData["HeaderBadgeStatus"]">@ViewData["HeaderBadge"]</span>
                    <a href="@Url.Action("ShoppingCart", "Home")" class="shopping-cart-button"><i class="fas fa-shopping-cart"></i>買い物カゴを見る</a>
                </div>
                <a href="@ViewData["HeaderButtonLink"]" class="avatar-button"><i class="fa-solid fa-user"></i>@ViewData["HeaderButtonText"]</a>
            </div>
        </header>


        <div class="breadcrumb-list">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="@Url.Action("ShoppingCart", "Home")">買い物カゴ</a></li>
                <li><a href="@Url.Action("EnterShippingAddress", "Home")">送り先情報入力</a></li>
                <li><a href="#">注文確認</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>注文内容を以下の内容で送信しますか?</h2>

            <div class="contact-table cart-table">
                <form>
                    <table border="1">
                        <thead>
                            <tr>
                                <th colspan="2">申込み者</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>お名前</th>
                                <td>@CurrentSession.customerUserInfo.Name</td>
                            </tr>
                            <tr>
                                <th>ふりがな</th>
                                <td>@CurrentSession.customerUserInfo.Furigana</td>
                            </tr>
                            <tr>
                                <th>電話番号</th>
                                <td>@CurrentSession.customerUserInfo.Tel</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>@CurrentSession.customerUserInfo.Mail</td>
                            </tr>
                            <tr>
                                <th>郵便番号</th>
                                <td>@CurrentSession.customerUserInfo.Postcode</td>
                            </tr>
                            <tr>
                                <th>住所</th>
                                <td>@CurrentSession.customerUserInfo.Address</td>
                            </tr>
                        </tbody>

                        <thead>
                            <tr>
                                <th colspan="2">送り先</th>
                            </tr>
                        </thead>
                        @if (CurrentSession.shippingAddressInfo == null)
                        {
                            <tbody>
                                <tr>
                                    <td colspan="2">申込み者と同じ</td>
                                </tr>
                            </tbody>
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <th>お名前</th>
                                    <td>@CurrentSession.shippingAddressInfo.Name</td>
                                </tr>
                                <tr>
                                    <th>ふりがな</th>
                                    <td>@CurrentSession.shippingAddressInfo.Furigana</td>
                                </tr>
                                <tr>
                                    <th>電話番号</th>
                                    <td>@CurrentSession.shippingAddressInfo.Tel</td>
                                </tr>
                                <tr>
                                    <th>郵便番号</th>
                                    <td>@CurrentSession.shippingAddressInfo.Postcode</td>
                                </tr>
                                <tr>
                                    <th>住所</th>
                                    <td>@CurrentSession.shippingAddressInfo.Address</td>
                                </tr>
                            </tbody>
                        }


                    </table>


                    @Html.Raw(ViewData["goodsOfCart"])


                    <div class="total-price">
                        <span>総合計金額 @ViewData["totalPrice"]円</span>
                    </div>

                    <div class="button-field">
                        <button class="form-normal-button prev-arrow-button" type="button" id="back-button">送り先情報入力に戻る</button>
                        <button class="form-primary-button next-arrow-button" type="submit" id="submit">送信</button>
                    </div>

                </form>
            </div>

        </div>


        <footer>

            <div class="footer-logo">
                HAISABU Platform
            </div>

            <!-- <div class="ads">
                広告
            </div> -->

        </footer>
    </div>

    <script>
        $(function () {
            $("#back-button").click(function () {
                const prevUrl = $("#NavigatorPrev").val();
                location.href = prevUrl;
            });
        });
    </script>
</body>

</html>