
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>高齢者のお困り解決砥部町内サービスサイト</title>
    <link rel="stylesheet" href="@Url.Content("~/css/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/contact.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")"></script>

</head>


<body>
    <input type="hidden" id="UrlActionSignUp" value="@Url.Action("SignUp", "Home")" />
    <input type="hidden" id="NavigatorPrev" value="@Url.Action("Login", "Home")" />
    <input type="hidden" id="NavigatorNext" value="@Url.Action("SignUpConfirm", "Home")" />



    <div class="container">
        <header>
            <h1><a href="@Url.Action("Index", "Home")">高齢者の<span>お困り解決</span>サイト<br>(砥部町内サービス)</a></h1>
            <div class="header-buttons">
                <div class="shopping-cart">
                    <span class="shopping-count-badge @ViewData["HeaderBadgeStatus"]">@ViewData["HeaderBadge"]</span>
                    <a href="@Url.Action("ShoppingCart", "Home")" class="shopping-cart-button">
                        <i class="fas fa-shopping-cart"></i>買い物カゴを見る
                    </a>
                </div>
                <a href="@Url.Action("Login", "Home")" class="avatar-button"><i class="fa-solid fa-user"></i>会員の方はこちら</a>
            </div>
        </header>


        <div class="breadcrumb-list">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">HOME</a></li>
                <li><a href="#">会員登録</a></li>
            </ul>
        </div>

        <div class="main-contents">
            <h2>サービスご利用のため、会員登録をお願いします</h2>
            <div class="contact-table">
                <form method="dialog" id="signup-form">
                    <h3>お客様情報の入力</h3>
                    <div class="input-container">
                        <div class="input-field">
                            <label class="label" for="name">お名前<small>必須</small></label>
                            <input id="name" type="text" name="name" placeholder="砥部 花子" maxlength="30" required>
                        </div>
                        <div class="input-field">
                            <label class="label" for="furigana">ふりがな<small>必須</small></label>
                            <input id="furigana" type="text" name="furigana" placeholder="とべ はなこ"
                                   pattern="(?=.*?[\u3041-\u309F])[\u3041-\u309F\s]*" maxlength="50" required>
                        </div>
                        <div class="input-field">
                            <label class="label" for="phone-number">電話番号<small>必須</small></label>
                            <input id="phone-number" type="text" name="phone-number" placeholder="089-982-0001"
                                   pattern="\d{2,4}-?\d{2,4}-?\d{3,4}" maxlength="15" required>
                        </div>
                        <div class="input-field">
                            <label class="label" for="e-mail">メールアドレス</label>
                            <input id="e-mail" type="email" name="email" placeholder="hanako@tobecho.com" maxlength="200" required>
                        </div>

                        <div class="input-field">
                            <label class="label" for="postal-code">郵便番号</label>
                            <input id="postal-code" type="text" name="postal-code"
                                   onKeyUp="AjaxZip3.zip2addr(this,'','address','address');" placeholder="791-2114"
                                   pattern="\d{3}-?\d{4}" maxlength="8" required>
                        </div>

                        <div class="input-field grow-field">
                            <label class="label" for="address">住所</label>
                            <input id="address" type="text" name="address" placeholder="砥部町麻生000-0" maxlength="255">
                        </div>
                        <div class="input-field">
                            <label class="label" for="name">パスワード<small>必須</small></label>
                            <input id="password" type="password" name="password" placeholder="半角英数字8文字以上でご入力ください" maxlength="50" required>
                        </div>
                        <div class="input-field">
                            <label class="label" for="name">パスワード(確認用)<small>必須</small></label>
                            <input id="confirm-password" type="password" name="password" placeholder="確認のため、もう一度ご入力ください" maxlength="50" required>
                        </div>
                    </div>
                    <div class="button-field">
                        <button class="form-normal-button prev-arrow-button" type="button" id="prev">前のページへ戻る</button>
                        <button class="form-secondary-button next-arrow-button" type="submit" id="submit">入力情報を確認する</button>
                    </div>
                </form>

            </div>

        </div>


        <footer>

            <div class="footer-logo">
                HAISABU Platform
            </div>

            <!-- <div class="ads">
                広告
            </div> -->

        </footer>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#prev").click(function () {
                const prevUrl = $("#NavigatorPrev").val();
                location.href = prevUrl;
            });

            $("#signup-form").on("submit", function (event) {
                event.preventDefault();

                const name = $("#name").val().trim();
                const furigana = $("#furigana").val().trim();
                const tel = $("#phone-number").val().trim();
                const email = $("#e-mail").val().trim();
                const postcode = $("#postal-code").val().trim();
                const address = $("#address").val().trim();
                const password = $("#password").val().trim();
                const confirmPass = $("#confirm-password").val().trim();

                if (password !== confirmPass) {
                    alert("パスワードと確認用パスワードが違います");
                    return;
                }

                const inputData = {
                    Name: name,
                    Furigana: furigana,
                    Tel: tel,
                    Mail: email,
                    Postcode: postcode,
                    Address: address,
                    Password: password,
                    ConfirmPass: confirmPass
                };


                const postUrl = $("#UrlActionSignUp").val();
                const nextUrl = $("#NavigatorNext").val();
                postfuncajax(postUrl, nextUrl, inputData);

            });


            function postfuncajax(postUrl, nextUrl, inputData) {
                
                const jsonString = JSON.stringify(inputData);

                $.ajax({
                    url: postUrl,
                    type: "POST",
                    async: false,
                    data: jsonString,
                    dataType: "json",
                    contentType: 'application/json',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        var message = XMLHttpRequest.status;
                        alert(message);
                    },
                    success: function (data) {
                        switch (data.status) {
                            case "success":
                                // alert("ログイン成功");
                                location.href = nextUrl;
                                break;
                            case "containEmptyChar":
                                alert("空文字列が含まれているフィールドがあります");
                                break;
                            case "duplicateTelError":
                                alert("この電話番号は既に使われています");
                                break;
                            default:
                                alert("エラーが起こりました");
                                break;
                        }

                    }
                });
            }

        });
    </script>
</body>

</html>